#imagem_whats, #imagem_whats2 {
    position:fixed;
    right:0;
    bottom:0;
    display:block;
    cursor:pointer;
    z-index:9999999;
    float:right

  }    

  @media only screen and (max-width: 999px) and (min-width: 100px){       
    #imagem_whats{
      display:none
    }
    
    #imagem_whats2{
      display:block
    }
  }