@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-screen bg-red-50 font-sans;
}

#bgLu {
  @apply bg-fixed bg-right-top bg-opacity-75;
}

__next {
  @apply h-screen flex flex-col;
}

a,
a:visited {
  @apply p-3 inline-block text-center align-middle uppercase;
}

article {
  @apply p-12;
}

input {
  @apply h-12 p-8 shadow-sm mt-1 block w-full sm:text-lg border-gray-300 rounded-xl;
}

@media (max-width: 650px) {
  main ul {
    grid-template-columns: 1fr;
  }
}
#app {
  flex-direction: column;
}

#app main {
  margin-left: 0;
  margin-top: 30px;
}

#app aside {
  width: 100%;
}

/* @media (max-width: 1000px) {
} */
